---
import type { Post } from "@lib/types";
const { posts } = Astro.props;
import CardPost from "./CardPost.astro";
---

<section class="max-w-7xl mx-auto text-center px-4 py-4 sm:px-6 lg:px-8">
  <h2
    class="text-primary-text text-3xl font-bold tracking-wider py-3 font-playfair"
  >
    Latest Adventures
  </h2>
  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6"
    transition:name="picture"
    transition:animate="fade"
  >
    {
      posts.map((post: Post) => {
        const { title, excerpt, featuredImage, date, slug } = post;

        return (
          <CardPost
            title={title}
            excerpt={excerpt}
            featuredImage={featuredImage}
            date={date}
            slug={slug}
          />
        );
      })
    }
  </div>
</section>
