---
import type { Post, Categories } from "@lib/types";
import LastestPosts from "@pages/post/LastestPosts.astro";
const { relatedPosts, slug } = Astro.props;

const filteresPosts = relatedPosts.filter(
  (post: Categories) => post.slug !== slug
);
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <section class="max-w-5xl mx-auto text-center">
    <h2
      class="text-primary-text text-3xl font-medium tracking-wider py-3 font-playfair"
    >
      Related Posts
    </h2>
    {
      filteresPosts.map((post: Post) => {
        const { title, excerpt, featuredImage, date, slug } = post;

        return (
          <LastestPosts
            title={title}
            excerpt={excerpt}
            featuredImage={featuredImage}
            date={date}
            slug={slug}
          />
        );
      })
    }
  </section>
</div>
