---
import type { Post } from "../lib/types";
import Layout from "../layouts/Layout.astro";
import { getLatestPosts, getPageInfo } from "../lib/wp";
import Header from "./header/Header.astro";
import Banner from "./banner/Banner.astro";
import LastestPosts from "./post/LastestPosts.astro";

const { title, content, featuredImage } = await getPageInfo("home-page");
const posts: Post[] = await getLatestPosts({ perPage: 3 });
---

<Layout title={title}>
  <Header />
  <Banner title={title} content={content} featuredImage={featuredImage} />
  <section class="max-w-5xl mx-auto text-center">
    <h2
      class="text-primary-text text-3xl font-medium tracking-wider py-3 font-playfair"
    >
      Newests posts
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {
        posts.map((post) => {
          const { title, excerpt, featuredImage, date, slug } = post;

          return (
            <LastestPosts
              title={title}
              excerpt={excerpt}
              featuredImage={featuredImage}
              date={date}
              slug={slug}
            />
          );
        })
      }
    </div>
  </section>
  erfvergre er g er g er g

  <!-- <section>
    <h2>Newests posts</h2>
    <div>
      {
        posts.map((post) => {
          const { title, excerpt, featuredImage, date, slug } = post;

          return (
            <article>
              <img src={featuredImage} alt={title} />
              <div>
                <h2>
                  <a href={`/post/${slug}`}>{title}</a>
                </h2>
                <p>{date}</p>
                <div set:html={excerpt} />
              </div>
            </article>
          );
        })
      }
    </div>
  </section> -->
</Layout>
